$body-bg: #0f1518;
$body-color: #d8d8d8;

$primary:#1e2b37;
$primary:#1E2B37;
$secondary:#6f7f8c;
$success:#6fad64;
$danger:#97270b;
$info:#6a9e95;
$warning:#6e9fa5;
$light:#eceeec;
$middle: #97a0a8;
$dark:#1e2b37;
$less-dark:#414e5a;
$border: #ced4da;